body {
  /* background-color: #212121; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.card {
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.jsValue {
  color: white;
  font-size: 1rem;
}

.card-footer {
  display: flex;
  flex-direction: row-reverse;
}

.gideon-item {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.textarea {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.9;
}
.label {
  color: #363636;
  display: block;
font-size: 1rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0 0;
    font-size: 1rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.gl-fasta {
  padding-left: 1.925em;
  padding-top: 0.3em;
}

#kb-results .content {
  padding: 0 20px;
}

#kb-results .content-header {
  padding: 0 10px;
  font-size: 30px
}

.kb-results-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100vw;
  positoin: relative;
}

.kb-results-header #enlarge-button {
  position: absolute;
  top: 50px;
  left: 16px;
  padding: 5px 25px;
  background: transparent;
  border: 2px solid #e5e3e3;
  color: #e5e3e3;
  border-radius: 20px;
  cursor: pointer;
  /* transition: all 150ms; */
  outline: none;
}

.kb-results-header #enlarge-button:active {
  background: #e5e3e3;
  color: black;
}

  .button-clicked {
      height: 100vh;
  }


.viewer-class {
  height: 60vh;
  width: 100vw;
  overflow: hidden;
}

.viewer-button-clicked {
    height: 100vh;
}



#kb-form, #kb-results {
  display: none;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

#kb-form.kb-is-active, #kb-results.kb-is-active {
  display: block;
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

label.file-label {
  overflow: visible;
}

.content label.file-label ul.parsley-errors-list {
  position: absolute;
  right: 0;
  /* 32px = size of remove file button */
  transform: translateX(calc(32px + 100%));
  z-index: 555555;
  white-space: nowrap;
  padding: 0 0.5em;
}

.parsley-error {
  border-color: #ff3860;
}

.content ul.parsley-errors-list {
  padding: 0;
  list-style: none;
  margin: 0.5em 0;
  font-size: 0.8em;
  color: #ff3860;
}

.remove-file {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5em;
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
